body{
    margin:0;
}
header{
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url("https://raw.githubusercontent.com/cs165/homework1-new-MasterLai/master/images/header.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  background-size: cover;
  height: 500px;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

#title1{
  font-size: 36px;
  font-weight: normal;
  font-family: Roboto Slab, serif;
  max-width: 780px;
  color: white;
  text-align: center;
}
.profile{
	  text-align: center;
}
#pro-img{
    border-radius: 100%;
    width: 100px;
    position: relative;
    margin-top: -50px;
    border: 1px solid white;
}
#name{
   font-family: Source Sans Pro, sans-serif;
   font-size: 18px;
   font-weight: bold;
   color: rgb(51, 51, 51);
   line-height: 24px;
   text-align: center;
   position:relative;
}

#up{
   font-family: Source Sans Pro, sans-serif;
   font-size: 18px;
   font-style: italic;
   color: rgb(51, 51, 51);
   line-height: 24px;
   text-align: center;
   position: relative;
}
#line{
     border-bottom: 2px solid #e6e6e6;
     padding-bottom: 10px;
}
section{
	  margin: 60px auto;
	  display: flex;
	  justify-content: center;
}
.bodys{
  width: 66.7%;
}
.bodys p{
  font-size: 36px;
}
#num{
    font-family: Roboto Slab,serif;
    position: relative;
    right:40px;
    color:rgba(0, 0, 0, 0.25);
    font-weight: bold;
}
#headings{
   font-family: Roboto Slab,serif;
   color: rgb(51, 51, 51);
   font-weight: bold;
}
a{
    color:#42b4d6;
    font-weight: normal;
    text-decoration: none;
    position:relative;
    top:-40px;
    left: 25px;
}
a:hover{
    text-decoration: underline;
}

#para{
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
  line-height:32px;
  color:rgb(51, 51, 51);
  position: relative;
  top: -40px;
  left: 24px;
}

#img{
    width:66.67%;
    margin-bottom: 120px;
}
#im4{
    width:66.67%;
}
